<!DOCTYPE html>

<head>
	<%- include('../partials/trendingHead')%>
	
</head>

<body id="sBase">
	<header><%- include('../partials/header')%></header>



	  
		<h1 class="headers">Server maintenance, we appologise for the inconvenience</h1> 
		<br>
		<h1 class="headers">ERROR 405!!!</h1> 
		
        
        <img src="/final/Images/Regis.png"  class = "prImage" />
		
				

  
	
</body>

</html>