<!DOCTYPE html>

<head>
	<%- include('../partials/trendingHead')%>
</head>

<body id="sBase">
    <header>
      <%- include('../partials/header', {loggedIn: false})%>
    </header>

  <main>
    <div class="CenterB">
      <div class="container" >

        <!-- message confirming that the user has been logged out -->
        <h2>You have been logged out</h2>

      </div>
      
      <div class="bottom-container">
        <div class="row">

          

         
        </div>
      </div>

    </div>
  </main>

</body>

</html>