<!DOCTYPE html>

<head>
	<%- include('../partials/trendingHead')%>
</head>

<body id="base">
	<header><%- include('../partials/header')%></header>
    
<html>
  <head>
    <title>Profile Deleted</title>
  </head>
  <body>
    <h1>Profile Deleted</h1>
    <p>Your profile has been successfully deleted.</p>
  </body>
</html>