<!DOCTYPE html>

<head>
	<%- include('../partials/trendingHead')%>
</head>

<body id="sBase">
	<header><%- include('../partials/header')%></header>
    
<html>
  <head>
    <title>Profile Deleted</title>
  </head>
  <body>
    <div class="CenterB">
      <div class="container" >

        <!-- message confirming that the user has been logged out -->
        <h2>Your profile page was deleted</h2>

      </div>
      
      <div class="bottom-container">
        <div class="row">

          

         
        </div>
      </div>

    </div>
  </body>
</html>