hr {

    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000000;
}

iframe {
    border: 1px solid black ;
}


row {

margin-right: 0px;

}

h2  {


    text-align:center
}

.btn {
    color: black;
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }