<!DOCTYPE html>
<html>

<head><%- include('../partials/trendingHead')%></head>


<body class="sBase" >
    <header>
      <%- include('../partials/header')%>
    </header>

  <main>
    <div class="jumbotron">

      <h2>Login</h2>
      <!-- simple login form, submits to our /dologin route -->
      <form action="/dologin" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Login</button>
        
      </form>

      <form action="/add">
        <button type="submit">New User</button>
      </form>


    </div>
  </main>


  

</body>

</html>
