<!DOCTYPE html>
<html>

<head><%- include('../partials/trendingHead')%>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="833087600807-tkkdl76sjb1icnhrl1p8fgkhjh3p33in.apps.googleusercontent.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body class="sBase" >








  
    <header>
      <%- include('../partials/header')%>
    </header>

  <main>
    <div class="CenterB">
      <div class="container">



        padding-right: 15px;
        padding-left: 15px;


      <!-- simple login form, submits to our /dologin route -->
      <div class="container"  style="padding-right: 0px,padding-left:0px"></div>       
        <form action="/action_page.php">
          <div class="row">
            <h2 style="text-align:center">Login with Social Media or Manually</h2>
            <div class="vl">
              <span class="vl-innertext">or</span>
            </div>
      
            <div class="col">
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
               </a>
              <a href="#" class="twitter btn">
                <i class="fa fa-twitter fa-fw"></i> Login with Twitter
              </a>
              <div class="g-signin2" data-onsuccess="onSignIn"  style="height:36px;width:auto;"> </div>
           







            
            </div>
      
            <div class="col">
              <div class="hide-md-lg">
                <p>Or sign in manually:</p>
              </div>
      
              <input  type="text" name="username" placeholder="Username" class="First" required>
              <input type="password" name="password" placeholder="Password" class="First" required>
              <input type="submit" value="Login">
            </div>
            
          </div>
        </form>
      </div>
      
      <div class="bottom-container">
        <div class="row">


       <form action="/add">
        <button type="submit"  style="margin: top 10px;"> Sign up</button>
          </form>


          <div class="col">
            <a href="#" style="color:white" class="btn">Forgot password?</a>
          </div>
        </div>
      </div>


          
      



        </div>
      </div>








 

</div>
    </div>
  </main>












  

</body>

</html>
