<!DOCTYPE html>
<html>

<head><%- include('../partials/trendingHead')%>
 </script>
<meta name="google-signin-client_id" content="833087600807-tkkdl76sjb1icnhrl1p8fgkhjh3p33in.apps.googleusercontent.com">
</head>
<body class="sBase" >
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <header>
      <%- include('../partials/header')%>
    </header>

  <main>



 
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

  </main>












  

</body>

</html>
